PROJECT=piwigo
PROJECT_SUBNET=172.16.254.0/25
PROJECT_IP=127.0.0.1
PROJECT_PORT=80

PROJECT_FQDN=
PROJECT_ENTRYPOINT=
PROJECT_CERT_RESOLVER=
PROJECT_DOMAIN_MAIN=
PROJECT_DOMAIN_SANS=

TZ=Europe/Amsterdam
PIWIGO_VERSION=
PIWIGO_PORT=80
MARIADB_VERSION=

MARIADB_ROOT_PASSWORD=
MARIADB_RANDOM_ROOT_PASSWORD=false
MARIADB_DATABASE=
MARIADB_USER=
MARIADB_PASSWORD=
